body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
.main_body {
    margin-left: 1.3vw;
    margin-top: 4rem;
}
header {
    background-color: black;
    display: flex;
    justify-content:flex-start;
    padding-top: 1rem;

}
.header_nav {
    display: flex;
    align-items: center;
    width: 25vw;
    justify-content: space-around;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.header_logo {
    margin-right: 2vw;
    margin-left: 1.3vw;
    color: red;
}
* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 13%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: black
  }

  #best_movie {
    display: flex;
    width: 46vw;
    justify-content: space-between;
  }
  
  #best_movie_title {
    margin-bottom: 11px;
    font-size: 22px;
  }

  #best_movie_header {
    font-size: 49px;
    margin-bottom: 22px;
  }
  #best_movie_resume {
    margin-top: 18px;
  }
  #best_movie_rank {
    margin-top: 15px;
  }
.best_movie_info {
  margin-top: 24px;
}
  #play_button {
    width: 47px;
  }
  .play_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94px;
    margin-top: 21px;

  }
  .info_and_button{
    display: flex;
    flex-direction: column;
  }
  .img_and_info {
    display: flex;
  }


*{
  padding: 0;
  margin: 0;
}
main {
  margin-top: 20px;
}
/* h1{
  width: 90%;
  margin: 10px auto;
  background: #1967D2;
  font-weight: bold;
  color: white;
} */
.arrows {
  position: absolute;
  top: 617px;
  font-size: 60px;
  font-weight: bold;
  color: purple;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
.arrows:nth-of-type(2){
  left: 77.8%;
  text-align: right;
}
.action_arrows {
  position: absolute;
  top: 980px;
  font-size: 60px;
  font-weight: bold;
  color: purple;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
.action_arrows:nth-of-type(2){
  left: 77.8%;
  text-align: right;
}
.scifi_arrows {
  position: absolute;
  top: 1330px;
  font-size: 60px;
  font-weight: bold;
  color: purple;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
.scifi_arrows:nth-of-type(2){
  left: 77.8%;
  text-align: right;
}
.horror_arrows {
  position: absolute;
  top: 1699px;
  font-size: 60px;
  font-weight: bold;
  color: purple;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
.horror_arrows:nth-of-type(2){
  left: 77.8%;
  text-align: right;
}
section{
  width: 76%;
  height: 300px;
  background: black;
  /* margin: 10px auto; */
  display: flex;
  justify-content: left;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  visibility: hidden;
}
.carousel_div{
  min-width: 330px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  transition: 0.5s;
}
.action_carousel_div {
  min-width: 330px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  transition: 0.5s;
}
.scifi_carousel_div {
  min-width: 330px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  transition: 0.5s;
}
.horror_carousel_div {
  min-width: 330px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  transition: 0.5s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 23rem;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #000;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 18%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}